.navbar-logo {
  height: 70px;
  width: 150px;
  border-radius: 50%;
}
.container {
  padding: 12px 24px;
  background-color: #3aafa9;
}
.navbar-sign-in-btn {
  padding-top: 12px;
}
.navbar-user-pfp {
  height: 35px;
  border-radius: 50%;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style-type: none;
}
.nav-links li {
  margin: 10px;
}
.nav-links li a {
  text-decoration: none;
  outline: none;
  color: #17252a;
}
