.posts {
  background-color: #def2f1;
  width: 90vw;
  max-width: 650px;
  border-radius: 4px;
  padding: 16px;
}
.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.posts-header-left {
  display: flex;
  align-items: center;
}
.posts-header-pfp {
  height: 35px;
  border-radius: 50%;
}
.posts-delete-btn {
  border: none;
  background-color: #def2f1;
  color: #be0000;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
.posts-delete-btn :focus {
  outline: none;
}
.posts-center-img {
  width: 100%;
  border-radius: 4px;
  margin: 8px 0px;
  object-fit: cover;
}
